# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [6]:
data = {'國家':list('abcdefghijklmno'),
        '人口':np.random.randint(1000000,size=15)}
print(data)
data = pd.DataFrame(data)
data

{'國家': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o'], '人口': array([621727, 297640, 628825, 597399, 209680, 690458, 262317, 544419,
       323496, 137978, 160124, 888956, 652757, 631112, 307594])}

   國家      人口
0   a  621727
1   b  297640
2   c  628825
3   d  597399
4   e  209680
5   f  690458
6   g  262317
7   h  544419
8   i  323496
9   j  137978
10  k  160124
11  l  888956
12  m  652757
13  n  631112
14  o  307594