作業目標:<br>
1. 熟悉索引與欄位設定
2. 使用樞紐建立新資料

作業重點:<br>
1. 多維度索引、欄位是有順序性的須注意
2. 使用樞紐建立資料需要注意參數<br>
  index : 新資料的索引名稱<br>
  columns : 新資料的欄位名稱<br>
  values :新資料的值名稱

題目: 運用下列分數資料重新建構資料，將索引(index)依序改為sex、class、student_id，欄位依序改成chinese_score、english_score、math_score<br><br>
score_df = pd.DataFrame([[1,50,80,70,'boy',1],[2,60,45,50,'boy',2],[3,98,43,55,'boy',1],[4,70,69,89,'boy',2],[5,56,79,60,'girl',1],[6,60,68,55,'girl',2],[7,45,70,77,'girl',1],[8,55,77,76,'girl',2],[9,25,57,60,'girl',1],[10,88,40,43,'girl',3],[11,25,60,45,'boy',3],[12,80,60,23,'boy',3],[13,20,90,66,'girl',3],[14,50,50,50,'girl',3],[15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])

In [5]:
import pandas as pd
import numpy as np
score_df = pd.DataFrame([[1,50,80,70,'boy',1],[2,60,45,50,'boy',2],[3,98,43,55,'boy',1],[4,70,69,89,'boy',2],[5,56,79,60,'girl',1],[6,60,68,55,'girl',2],[7,45,70,77,'girl',1],[8,55,77,76,'girl',2],[9,25,57,60,'girl',1],[10,88,40,43,'girl',3],[11,25,60,45,'boy',3],[12,80,60,23,'boy',3],[13,20,90,66,'girl',3],[14,50,50,50,'girl',3],[15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])
score_df

    student_id  math_score  english_score  chinese_score   sex  class
0            1          50             80             70   boy      1
1            2          60             45             50   boy      2
2            3          98             43             55   boy      1
3            4          70             69             89   boy      2
4            5          56             79             60  girl      1
5            6          60             68             55  girl      2
6            7          45             70             77  girl      1
7            8          55             77             76  girl      2
8            9          25             57             60  girl      1
9           10          88             40             43  girl      3
10          11          25             60             45   boy      3
11          12          80             60             23   boy      3
12          13          20             90             66  girl      3
13          14          50             50             50  girl      3
14          15          89             67             77  girl      3

In [34]:
gb_class=score_df.groupby(by=score_df['class'])
for i in gb_class:
    print(i)

(1,    student_id  math_score  english_score  chinese_score   sex  class
0           1          50             80             70   boy      1
2           3          98             43             55   boy      1
4           5          56             79             60  girl      1
6           7          45             70             77  girl      1
8           9          25             57             60  girl      1)
(2,    student_id  math_score  english_score  chinese_score   sex  class
1           2          60             45             50   boy      2
3           4          70             69             89   boy      2
5           6          60             68             55  girl      2
7           8          55             77             76  girl      2)
(3,     student_id  math_score  english_score  chinese_score   sex  class
9           10          88             40             43  girl      3
10          11          25             60             45   boy      3
11          12          80             60             23   boy      3
12          13          20             90             66  girl      3
13          14          50             50             50  girl      3
14          15          89             67             77  girl      3)

In [39]:
#將索引(index)依序改為sex、class、student_id，欄位依序改成chinese_score、english_score、math_score
score_df.pivot(index=['sex','class','student_id'],columns=['english_score','math_score'])

                      chinese_score                                            \
english_score                    80    45    43    69    79    68    70    77
math_score                       50    60    98    70    56    60    45    55
sex  class student_id
boy  1     1                   70.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
           3                    NaN   NaN  55.0   NaN   NaN   NaN   NaN   NaN
     2     2                    NaN  50.0   NaN   NaN   NaN   NaN   NaN   NaN
           4                    NaN   NaN   NaN  89.0   NaN   NaN   NaN   NaN
     3     11                   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
           12                   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
girl 1     5                    NaN   NaN   NaN   NaN  60.0   NaN   NaN   NaN
           7                    NaN   NaN   NaN   NaN   NaN   NaN  77.0   NaN
           9                    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
     2     6                    NaN   NaN   NaN   NaN   NaN  55.0   NaN   NaN
           8                    NaN   NaN   NaN   NaN   NaN   NaN   NaN  76.0
     3     10                   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
           13                   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
           14                   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
           15                   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN


english_score            57    40    60          90    50    67
math_score               25    88    25    80    20    50    89
sex  class student_id
boy  1     1            NaN   NaN   NaN   NaN   NaN   NaN   NaN
           3            NaN   NaN   NaN   NaN   NaN   NaN   NaN
     2     2            NaN   NaN   NaN   NaN   NaN   NaN   NaN
           4            NaN   NaN   NaN   NaN   NaN   NaN   NaN
     3     11           NaN   NaN  45.0   NaN   NaN   NaN   NaN
           12           NaN   NaN   NaN  23.0   NaN   NaN   NaN
girl 1     5            NaN   NaN   NaN   NaN   NaN   NaN   NaN
           7            NaN   NaN   NaN   NaN   NaN   NaN   NaN
           9           60.0   NaN   NaN   NaN   NaN   NaN   NaN
     2     6            NaN   NaN   NaN   NaN   NaN   NaN   NaN
           8            NaN   NaN   NaN   NaN   NaN   NaN   NaN
     3     10           NaN  43.0   NaN   NaN   NaN   NaN   NaN
           13           NaN   NaN   NaN   NaN  66.0   NaN   NaN
           14           NaN   NaN   NaN   NaN   NaN  50.0   NaN
           15           NaN   NaN   NaN   NaN   NaN   NaN  77.0