# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察填補缺值以及 標準化 / 最小最大化 對數值的影響

# [作業重點]
- 觀察替換不同補缺方式, 對於特徵的影響 (In[4]~In[6], Out[4]~Out[6])
- 觀察替換不同特徵縮放方式, 對於特徵的影響 (In[7]~In[8], Out[7]~Out[8])

In [1]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

data_path = '/Users/syuan/ML data/'
df_train = pd.read_csv(data_path + 'Titanic_train.csv')
df_test = pd.read_csv(data_path + 'Titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

5 Numeric Features : ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [3]:
# 削減文字型欄位, 只剩數值型欄位
df = df[num_features]
train_num = train_Y.shape[0]
df.head()

   Pclass   Age  SibSp  Parch     Fare
0       3  22.0      1      0   7.2500
1       1  38.0      1      0  71.2833
2       3  26.0      0      0   7.9250
3       1  35.0      1      0  53.1000
4       3  35.0      0      0   8.0500

# 作業1
* 試著在補空值區塊, 替換並執行兩種以上填補的缺值, 看看何者比較好?

In [4]:
# 空值補 -1, 做羅吉斯迴歸
df_m1 = df.fillna(-1)
train_X = df_m1[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())

"""
Your Code Here
"""

0.6981796497395015

'\nYour Code Here\n'

In [5]:
# 空值補 0, 做羅吉斯迴歸
df_0 = df.fillna(0)
train_X = df_0[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())

"""
Your Code Here
"""

0.6992969681752557

'\nYour Code Here\n'

In [6]:
# 空值補 mean, 做羅吉斯迴歸
df_mn = df.fillna(df.mean())
train_X = df_mn[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())

"""
Your Code Here
"""

0.6947900320130562

'\nYour Code Here\n'

In [7]:
# 空值補 中位數, 做羅吉斯迴歸
df_m1 = df.fillna(df.median())
train_X = df_m1[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())

"""
Your Code Here
"""

0.6947837549431924

'\nYour Code Here\n'

In [8]:
# 空值補 mean搭配minmax, 做羅吉斯迴歸
df_mn = df.fillna(df.mean())
df_temp=MinMaxScaler().fit_transform(df_mn)
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())

"""
Your Code Here
"""

0.7004142866110099

'\nYour Code Here\n'

In [9]:
# 空值補 mean搭配標準化, 做羅吉斯迴歸
df_mn = df.fillna(df.mean())
df_temp=StandardScaler().fit_transform(df_mn)
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())

"""
Your Code Here
"""

0.6959136275186741

'\nYour Code Here\n'

In [10]:
# 空值補 中位數搭配標準化, 做羅吉斯迴歸
df_med = df.fillna(df.median())
df_temp=StandardScaler().fit_transform(df_med)
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())

"""
Your Code Here
"""

0.6970309459544284

'\nYour Code Here\n'

In [11]:
# 空值補 中位數搭配minmax, 做羅吉斯迴歸
df_m1 = df.fillna(df.median())
df_temp=MinMaxScaler().fit_transform(df_m1)

train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())
"""
Your Code Here
"""

0.7015316050467642

'\nYour Code Here\n'

In [12]:
# 空值補 0搭配MinMax, 做羅吉斯迴歸
df_0 = df.fillna(0)
df_temp=MinMaxScaler().fit_transform(df_0)

train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())

"""
Your Code Here
"""

0.7015378821166279

'\nYour Code Here\n'

In [13]:
# 空值補 0搭配標準化, 做羅吉斯迴歸
df_0 = df.fillna(0)
df_temp=StandardScaler().fit_transform(df_0)

train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())

"""
Your Code Here
"""

0.6981733726696377

'\nYour Code Here\n'

In [14]:
# 空值補 -1搭配minmax, 做羅吉斯迴歸
df_m1 = df.fillna(-1)
df_temp=MinMaxScaler().fit_transform(df_m1)
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())

0.6981796497395015,0.6970560542338836

0.6970560542338836

In [15]:
#搭配標準化
df_temp=StandardScaler().fit_transform(df_m1)
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())

0.6981733726696377

# 作業2
* 使用不同的標準化方式 ( 原值 / 最小最大化 / 標準化 )，搭配羅吉斯迴歸模型，何者效果最好?

In [27]:
"""
Your Code Here
MinMax普遍較高
"""
col=['原值' , '最小最大化' , '標準化']
idx=['補0','補-1','補平均數','補中位數']
compare=pd.DataFrame([[0.6992969681752557,0.7015378821166279,0.6981733726696377],
                     [0.6981796497395015,0.6970560542338836,0.6981733726696377],
                     [0.6947900320130562,0.7004142866110099,0.6959136275186741],
                     [0.6947837549431924,0.7015316050467642,0.6970309459544284]],
                    index=idx,columns=col)
compare

            原值     最小最大化       標準化
補0    0.699297  0.701538  0.698173
補-1   0.698180  0.697056  0.698173
補平均數  0.694790  0.700414  0.695914
補中位數  0.694784  0.701532  0.697031